<div class="container">
  <div
    style="
      margin: 5%;
      padding: 5%;
      border: 1px solid rgb(68, 68, 68);
      height: 50%;
      box-shadow: 2px 2px 4px rgb(68, 68, 68);
    "
  >
    <div class="flex">
      <h1 class="text-center flex-1">Book your Appointment</h1>
      <div>
        <button mat-stroked-button color="primary" [routerLink]="'/user/appointments'">
          <mat-icon>event</mat-icon> My Appointments
        </button>
      </div>
    </div>
    <!-- <div>{{this.model | json}}</div> -->
    <form [formGroup]="form">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
      <button
        mat-raised-button
        style="width: 100%; margin-top: 5px"
        color="primary"
        (click)="bookAppointment()"
      >
        Book appointment
      </button>
    </form>
  </div>
</div>
